@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700,700italic,900|Merriweather:400,900italic,900,700italic,700,400italic);
@import url(//fonts.googleapis.com/css?family=Roboto);
/*==================  Stuck menu  ======================*/
.isStuck {
  background: #ffffff;
  z-index: 999;
  box-shadow: 0 1px 2px #bbb;
}
.isStuck .navbar-brand {
  margin-top: 10px;
}
.isStuck .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 30px;
}
.isStuck .search-form_toggle {
  top: 16px;
}
@media only screen and (max-width: 992px) {
  .isStuck {
    display: none !important;
  }
}
.isStuck .sf-menu ul {
  top: 74px;
}
.isStuck .sf-menu ul ul {
  top: 0;
}
/*==================     ToTop     ======================*/
.toTop {
  width: 37px;
  height: 37px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #333333;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  right: 80px;
  bottom: 180px;
  font-size: 37px!important;
  line-height: 37px!important;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 99999;
}
.toTop:hover {
  color: #996439;
  text-decoration: none;
  transform: scale(1.1);
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*==================   Tumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: '\f087';
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 20px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff000000');
  zoom: 1;
}
.thumb:hover .thumb_overlay:before {
  opacity: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image,
.parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}
.parallax a.link {
  text-decoration: underline;
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}
.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666666;
  background: rgba(255, 255, 255, 0.97);
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.lt-ie9 .rd-mobilemenu_ul {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  zoom: 1;
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul li.active {
  color: #996439;
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #996439;
  color: #ffffff;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px 'FontAwesome';
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000000;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #ffffff;
  color: #666666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
  border: none;
  padding-top: 14px;
  padding-bottom: 16px;
}
.rd-mobilemenu_ul ul ul {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  left: 0;
  top: 0;
  text-align: left;
  transform: none;
}
.rd-mobilemenu_ul ul ul:before,
.rd-mobilemenu_ul ul ul:after {
  display: none;
}
.rd-mobilemenu_ul ul ul li {
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  color: inherit;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul ul ul a:hover {
  background: #996439;
  color: #ffffff;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}
.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #ffffff;
  color: #000000;
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel_title {
  position: fixed;
  padding-left: 10px;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000000;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
  background-color: #f7f7f7;
  border-color: transparent;
  outline: none;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.rd-mobilepanel_toggle.active span {
  transition: background .3s 0s ease;
  background: transparent;
}
.rd-mobilepanel_toggle.active span:before,
.rd-mobilepanel_toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
  .rd-mobilemenu,
  .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  div#panel .navbar-header .navbar-toggle .icon-bar {
    background-color: #000000;
  }
  div#panel #advanced .navbar-collapse li a,
  div#panel #advanced .navbar-collapse .dropdown-menu li a {
    background: #ffffff !important;
    color: #666666 !important;
  }
  .lt-ie9 div#panel #advanced .navbar-collapse li a,
  .lt-ie9 div#panel #advanced .navbar-collapse .dropdown-menu li a {
    background: none !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    zoom: 1 !important;
  }
  div#panel #advanced .navbar-collapse li a:hover {
    background: #996439 !important;
    color: #ffffff !important;
  }
  div#panel #advanced .navbar-collapse .-tm-dropdown.open > a {
    background-color: #f5f5f5 !important;
    color: #2d2d2d !important;
  }
  div#panel #advanced .navbar-collapse,
  div#panel #advanced .navbar-collapse .dropdown-menu {
    background: #ffffff !important;
    padding-top: 0!important;
  }
  .lt-ie9 div#panel #advanced .navbar-collapse,
  .lt-ie9 div#panel #advanced .navbar-collapse .dropdown-menu {
    background: none !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff') !important;
    zoom: 1 !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  div.container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1220px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .row .col-xs-6 {
    clear: both;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .row > .col-md-4 + .col-sm-3 {
    clear: both;
    width: 100%;
    margin: 30px auto;
  }
}
@media (max-width: 550px) {
  .row .col-xs-4 {
    clear: both;
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .row .col-xs-12 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .row .col-sm-12 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .row .col-sm-6 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #51493d;
  background-color: #474137;
  -webkit-text-size-adjust: none;
}
.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}
a:active {
  background: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #996439;
}
a[href^="tel:"],
a[href^="callto:"] {
  text-decoration: none;
}
em {
  font-style: normal;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-thumbnail {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
hr {
  margin-top: 12px;
  margin-bottom: 8px;
  border: 0;
  border-top: 1px solid #d2d3d4;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #f9f8f4;
  position: relative;
}
@media (max-width: 1199px) {
  header {
    text-align: center;
  }
  header .navbar-header,
  header .navbar-nav {
    float: none;
  }
  header .navbar-nav {
    margin-right: 0;
  }
  header .navbar-brand {
    margin-left: 0;
  }
}
.header__mod {
  border-bottom: 1px solid #b9b5b1;
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  background: #f9f8f4;
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: #474137;
}
footer .fz18 {
  color: #b4b0ab!important;
  font-weight: 700;
}
